@import '../../../constants.css';

.queryPanel {
  margin-left: var(--side-margin);
  margin-right: var(--side-margin);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}
