@import '../../../constants.css';

:root {
  --top-bottom-padding: 1.25em;
}

.queryResult {
  background-color: white;
  padding: var(--top-bottom-padding) 1.75em;
  max-width: 85vw;
  border: 7px solid var(--contrast-color);
  border-top: none;
  text-align: left;
  z-index: 0;
}

.componentsContainer {
  display: flex;
  /*grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));*/
  flex-wrap: wrap;
}

.componentDiv {
  margin: 0.5em 0;
  flex-grow: 1;
}

.header {
  font-size: 18px;
}

.title {
  width: fit-content;
  height: fit-content;
  font-weight: 800;
  margin-bottom: 0.5em;
}

.mainTitle {
  composes: title;
  font-size: 1.5em;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

.subtitle {
  color: gray;
  white-space: normal;
  margin-bottom: 0.25em;
  font-weight: 400;
}

.text {
  font-weight: 300;
  margin-bottom: 1em;
  padding-right: 1em;
}

.mainText {
  composes: text;
  text-align: center;
  padding-right: 0;
}

.asteriskText {
  font-weight: 300;
  font-size: 14px;
  padding-right: none;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.colorBar {
  margin-top: 0.2em;
}

.icon {
  margin: 0;
  margin-left: 0.15rem;
  height: 1rem;
  position: relative;
  /*top: 0.15rem;*/
}

.checkIcon {
  composes: icon;
}

.xIcon {
  composes: icon;
  height: 0.9rem;
}

.arrowIcon {
  composes: icon;
  position: relative;
  top: 0.05em;
  cursor: pointer;
}

.downArrowIcon {
  composes: arrowIcon;
  color: rgb(64, 64, 64);
}

.upArrowIcon {
  composes: arrowIcon;
  color: rgb(128, 128, 128);
}

.arrowContainer {
  display: inline-block;
}

.exContainer {
  width: 100%;
  text-align: right;
  height: 0;
  position: relative;
  top: -0.25em;
  right: -0.5em;
}

.ex {
  margin: 0;
  height: 1rem;
  cursor: pointer;
}

.tableContainer {
  max-width: calc(100% + 30px - 1.75em);
  padding-top: 1em;
}
