.userGuide {
  padding: 2em 3em 1em;
  max-width: 85vw;
  border: 7px solid var(--contrast-color);
  border-top: none;
  text-align: left;
  z-index: 0;
}

.userGuide h3 {
  font-weight: bold;
  font-size: 1em;
  margin: 0.5em 0;
}

.userGuide p {
  text-align: left;
  margin: 0;
  margin-bottom: 1.5em;
  font-size: 1em;
}

.userGuide ol {
  counter-reset: list;
  list-style: none;
  counter-increment: list;
  margin: -0.75em 2em 0.75em;
}

.userGuide li {
  margin-left: 1em;
  margin-bottom: 0;
}

.userGuide ol > li::marker {
  content: counter(list) ')\a0';
}
